@import "./styles/eui_theme_amsterdam_light";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

root {
    height: 100%;
    width: 100%;
}

canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    position: relative;
}

.content {
    background-color: transparent;
    color: red;
    padding: 5px;
}

.euiCard {
    background: #FFF;
    backdrop-filter: blur(5px);
    opacity: 0.8;
}